.CC_Logo {
    height: 350px;
    display: flex;
    margin: auto;
    width: 42%;
    padding-top: 52px
}

.Choice_wo {
    height: 500px;
}

@media (max-width: 1000px){
    .CC_Logo{
        position: absolute;
        padding-top: 210px;
        height: 150px;
    }
}
